nav > ul > li:hover::after {
	width: 100%;
}
.animate::after {
	content: '';
	display: block;
	width: 0;
	height: 4px;
	border-radius: 6px;
	background-color: #1e3078;
	transition: all 0.3s ease-out 0s;
}
