@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.container {
		@apply max-w-[1280px];
	}
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('./assets/images/Everlasting-Summer-Background-48.jpg');
	color: #ffff;
}
